workflow/Docs (1) (1).json
{
  "name": "Docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/1P_CZ4cS4ubc6vuzXbgz7D3ktkQqnb1dbZM2NTi2luDg/edit?usp=sharing",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5cf23a64-23c3-4934-bde0-2fcc7142cf5f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rlufVu6rbs7OfAyk",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1P_CZ4cS4ubc6vuzXbgz7D3ktkQqnb1dbZM2NTi2luDg/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "20518815-d594-4c2c-935a-63ecaf00986e",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "UhixApzhm4zB2FO0",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        240
      ],
      "id": "a03602ee-c224-4ce2-b147-9b0e2cb7d3ba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "doc_chunks",
          "mode": "list",
          "cachedResultName": "doc_chunks"
        },
        "embeddingBatchSize": 1536,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "128083b8-d9bf-445a-b639-2ac94deeb641",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fJFpRNr9032bENfQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Jarvis. How can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        912,
        0
      ],
      "id": "faab06a3-f4b7-40df-b0f3-eb7109d7a022",
      "name": "When chat message received",
      "webhookId": "675dc539-6950-4b4e-aa3d-80921f22b922"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        1120,
        0
      ],
      "id": "ebb3292b-8ed1-4bfc-918d-3672a91c51e4",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1168,
        176
      ],
      "id": "dce7674d-3c07-4a67-8b38-633ff5c25cee",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "doc_chunks",
          "mode": "list",
          "cachedResultName": "doc_chunks"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1152,
        336
      ],
      "id": "aa8c25c6-a829-4d3e-a175-fe18e01a608d",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "6TxxB16D20VTy26s",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        256
      ],
      "id": "f87b0902-fe0e-42c2-9d36-441ad40f5652",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "A4Zh0ZYcLcrhDPvk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        496
      ],
      "id": "b47a146f-17d5-4792-92be-a20b2f10bfc9",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "A4Zh0ZYcLcrhDPvk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        192
      ],
      "id": "b33a3266-44f0-4567-a7a3-c8200901c928",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "A4Zh0ZYcLcrhDPvk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.response }}\n",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1472,
        0
      ],
      "id": "a7e09cb3-c0a2-4f0b-a75f-a30a91db2b20",
      "name": "Respond to Chat"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3e2b5df-b775-4efd-853e-ce4848324abd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48c7b5364fa3541942287cfb3c0e22eee8d73d0b6bcfb44cfc7cd73cc617c41f"
  },
  "id": "xuREZqBFDU2hPqKR",
  "tags": []
}