chatbot_using_n8n_and_supabase.json
{
  "name": "chatbot using n8n and supabase",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Naman. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        40
      ],
      "id": "492f07ba-db07-4aa4-b0c0-3fbd461b80bb",
      "name": "When chat message received",
      "webhookId": "e63d20b2-5041-4e95-9ab2-86291b499205"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -100,
        40
      ],
      "id": "8f7c7d95-010c-4ed8-96a4-80e92c862384",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -60,
        280
      ],
      "id": "5c2fb2fe-b8a9-458e-81e4-f5a45b51bc83",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "omCZ5ZLCCh0dd5MF",
          "name": "n8n ai supabase "
        }
      }
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        60,
        260
      ],
      "id": "a22147e3-3310-4f58-8d85-4fabf3164f53",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -40,
        500
      ],
      "id": "cb4074ca-dfc9-440d-a8b3-93a037ae39e1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "A2kHW4hzkUSfJYU4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1M5g2SnBairhiE3iUnK4eRPvh6RngZhZn",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1M5g2SnBairhiE3iUnK4eRPvh6RngZhZn"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        -580
      ],
      "id": "86ab55e6-d392-4691-b6db-28d66cbeca57",
      "name": "Google Drive Trigger file updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3crCrOSL5GZjhTKv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1M5g2SnBairhiE3iUnK4eRPvh6RngZhZn",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1M5g2SnBairhiE3iUnK4eRPvh6RngZhZn"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -320
      ],
      "id": "3b6ae745-d364-42c4-9b04-bd9b939e1091",
      "name": "file created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3crCrOSL5GZjhTKv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        40,
        -420
      ],
      "id": "a0926d32-6f36-4d25-b33b-b38dc92899fa",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "A2kHW4hzkUSfJYU4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc5daadd-918c-48a8-a5c7-00c5bdbde30c",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        -420
      ],
      "id": "551fe65e-6d35-400d-917b-83ef9234f291",
      "name": "set"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('set').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        -420
      ],
      "id": "eea90214-943d-4e01-80c5-ceeb257c21fb",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3crCrOSL5GZjhTKv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        -420
      ],
      "id": "5eecc248-3eac-4e22-b88c-6a7d87a12808",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        700,
        -420
      ],
      "id": "cc8ab981-5c07-4046-91d8-43e9e6417bfb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "A2kHW4hzkUSfJYU4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        840,
        -200
      ],
      "id": "c5766944-f704-467f-b1fb-6bb582af32a5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        940,
        20
      ],
      "id": "3cd8ae4d-8206-4153-8363-76926d580d7c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        260
      ],
      "id": "3ade7dc8-278c-4105-8402-fb5b4f1b42bc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v6WuTOuNwE09T5tN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        520
      ],
      "id": "ac5a659e-b9e4-4b38-8e5a-eeff10407f8e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "v6WuTOuNwE09T5tN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        720
      ],
      "id": "7faa65f7-8977-4559-9612-c62ec1707fff",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "v6WuTOuNwE09T5tN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        -220
      ],
      "id": "bc69ff67-833c-4e85-aff6-6e6df70a5f5c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "v6WuTOuNwE09T5tN",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "file created": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger file updated": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc8086a2-c94c-4dc8-b14c-a8575a5eac2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7668aca44c832f2814140079bce7f8f6d1715951df2211b58051b838afbd8b16"
  },
  "id": "oQ8Dnhz39ct3c3Ip",
  "tags": []
}